@{
    ViewData["Title"] = "Home Page";
}

@* <style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1B4242;
    }

    .header {
        background-color: #092635;
        color: #F1FADA;
        padding: 20px;
      
        text-align: center;
        }

    .intro {
        padding: 20px;
        text-align: center;
    }

        .intro h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        .intro p {
            font-size: 18px;
            margin-bottom: 20px;
        }
</style>
<div class="Body">
    <div class="header">
        <h1>Welcome to My Website</h1>
    </div>

    <div class="intro">
        <h1>Hello there!</h1>

        <h2>Name: Allen Jerome G. Santurdio</h2>
        <h3>Section: BSI32E2</h3>

        <p>Welcome to my website. I'm thrilled to have you here. Explore and enjoy!</p>
    </div>
</div> *@
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">

<style>


    body {
        font-family: Fredericka the Great, serif;
        margin: 0;
        padding: 0;
        background-color: #183D3D;
        color: #fff;
    }

    .header {
        color: #fff;
        padding: 20px;
        text-align: center;
        text-decoration: underline;
    }

    .header h1{
            background-image: linear-gradient(to right,#FFFFEC,#FAEF9B, #F6D776, #F8E559);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 70px;
           
    }

    .circle {
        display: inline-block;
        border: 5px solid #fff;
        border-radius: 50%;
        padding: 50px;
        text-align:center
    }

    .intro {
        padding: 20px;
        text-align: center;
    }

        .intro h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }

        .hello{
            font-size: 40px;
            color: #F8E559;
        }
        .intro h2{
            font-size: 26px;
        }
        .Name{
            font-size:30px;
            background-image: linear-gradient(to right,#FFFFEC,#FAEF9B, #F6D776, #F8E559);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .intro p {
            font-size: 18px;
            margin-bottom: 20px;
        }
</style>

<div class="Body">
    <div class="header">
        <h1>Welcome to My Website</h1>
    </div>
 
    <div class="intro">
        <h1><span class="hello">HELLO</span> there!</h1>
        <div class="circle">
        <h2><span class="Name">Name:</span> Allen Jerome G. Santurdio</h2>
        <br>
            <h3><span class="Name">Section:</span> BSI32E2</h3>
        </div>

        <br>
        <br>
        <p>Welcome to my website. I'm thrilled to have you here. Explore and enjoy!</p>
    
    </div>
</div>
